* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Gulzar&display=swap");

body {
  font-family: "Comforter", cursive;
  font-family: "Gulzar", serif;
}

h1 {
  font-size: 70px;
  text-align: center;
}
h2 {
  font-size: 40px;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 30px;
}
h4 {
  text-align: left;
  font-size: 18px;
}

p {
  font-size: 20px;
}
li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  /* display: flex; */

  /* justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  align-content: center; */
}

.left-side {
  max-width: 600px;
  background-color: #1a242f;
  color: #e7ecf1;
}

.right-side {
  /* max-width: 600px; */
  background-color: #d7d8c0;
  color: #1f2831;
}

.images {
}
.img-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.main-photo {
}
.author {
}
.about-my {
}
.contact {
}
.experience {
}
.education {
}
.skills {
}
