@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Hahmlet:wght@500&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  color: #e7ecf1;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 12rem;
  font-family: "Comforter", cursive;
}
h2 {
  font-size: 5rem;
  font-family: "Hahmlet", serif;
}
h3 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 5rem;
  padding: 3.2rem 0rem;
}
h3::first-letter {
  text-transform: uppercase;
}
h4,
p {
  font-size: 3rem;
  /* padding: 3rem 0px; */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Lora", serif;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 130rem;
  /* margin-bottom: 4rem; */
  /* font-size: 0; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex; */
  /* justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  align-content: center; */
}

.left-side {
  max-width: 100%;
  background-color: #1a242f;
  color: #e7ecf1;
  /* display: inline-block; */
}

/* IMAGES */

.gallery {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  flex-direction: column;
}

.above {
  max-width: 50%;
  height: auto;
  display: flex;
  font-size: 0;
}

.below {
  width: 100%;
  height: auto;
  font-size: 0;
}

.main-image {
  font-size: 0;
  width: 100%;
  height: auto;
}
.gallery img {
  display: inline-block;
  width: 100%;
  height: auto;
}

/* IMAGES End */

.about-my p {
  padding-bottom: 4.8rem;
  line-height: 5rem;
}

/* SOCIAL LIST */
.soc-list a {
  color: #e7ecf1;
}

.soc-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 2rem 1rem 4rem;
  margin-bottom: 6.4rem;
}
.soc-item {
  display: flex;
  align-items: center;
  gap: 6rem;
  font-size: 3rem;
}
.soc-icon {
  width: 5rem;
  height: 5rem;
  color: #e7ecf1;
}

/* RIGHT SIDE */

.right-side {
  max-width: 100%;
  background-color: #d7d8c0;
  color: #1f2831;
  padding: 2rem 3rem 0rem 2rem;
}

.right-side h3 {
  padding: 4.8rem 0rem 4.8rem 0rem;
}

.right-side h4 {
  font-weight: 700;
  text-align: left;
  line-height: 4.8rem;
  padding: 1.2rem 0rem 1.2rem 0rem;
}
.right-side p {
  text-align: left;
  padding: 2rem 0rem 2rem 5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 4.8rem;
}

.kolo-h4 {
  padding-top: 3.6rem;
}

.list {
  font-size: 2.4rem;
  list-style: disc;
  line-height: 4rem;
  padding-left: 5rem;
  font-weight: 500;
}
