@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Gulzar&family=Hahmlet&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 7rem;
  font-family: "Comforter", cursive;
}
h2 {
  font-size: 5rem;
  font-family: "Gulzar", serif;
}
h3 {
  font-size: 4rem;
  padding: 20px 0px;
}
h4,
p {
  font-size: 3rem;
  padding: 3rem 0px;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Hahmlet", serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  margin-bottom: 4rem;
  /* font-size: 0; */

  display: grid;
  grid-template-columns: 1fr 1fr;

  /* display: flex; */

  /* justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
  align-content: center; */
}

.left-side {
  max-width: 60rem;
  min-width: 37.5rem;
  background-color: #1a242f;
  color: #e7ecf1;
  /* display: inline-block; */
}

.right-side {
  max-width: 60rem;
  background-color: #d7d8c0;
  color: #1f2831;
  padding: 3rem;
  /* display: inline-block; */
}

.gallery {
  display: flex;
  max-height: 80rem;
  max-width: 60rem;
  flex-direction: column;
}

.above {
  max-width: 50%;
  height: auto;
  display: flex;
  font-size: 0;
  /* flex-direction: row; */
}

.above img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.below {
  width: 100%;
  height: auto;
  font-size: 0;
  /* display: flex; */
}

.below img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.main-image {
  font-size: 0;
  width: 100%;
  height: auto;
}

.main-image img {
  display: inline-block;
  width: 100%;
  height: auto;
}

/* .mazi {
  width: 30rem;
  height: 40rem;
}
.mazi img {
  width: auto;
}
  /* height: 40rem; */
/* .bonio {
  width: 30rem;
  height: 40rem;
}  */
/* .mazi {
  width: 30rem;
  height: 40rem;
  background-image: url(../img/maz.jpg);

  display: inline-block;
  background-size: cover;
} */
/*  {
  background-image: url(../img/bonyo.jpg);
  width: 30rem;
  height: 40rem;

  display: inline-block;
  background-size: contain;
} */

/* .kolage {
  width: 60rem;
  height: 30rem;
  background-image: url(../img/kolage.jpg);
  background-size: contain;
} */

/* SOCIAL LIST */
.soc-list a {
  color: #e7ecf1;
}

.soc-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.soc-item {
  display: flex;
  align-items: center;
  gap: 10rem;
  font-size: 2.4rem;
}
.soc-icon {
  width: 3rem;
  height: 3rem;
  color: #e7ecf1;
}
.list {
  font-size: 2.4rem;
  list-style: circle;
}
